body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.playerholder {
    justify-content: center;
    justify-self: center;
}

.playerholder > div > input {
    width: 33%;
}

.board {
    display: grid;
    width: 30vw;
    height: 30vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    display:flex;
    border: 2px solid black;
    font-size: 7.5vw;
    justify-content: center;
    align-items: center;
}

.outcome {
    grid-column: 2/3;
    justify-self: center;
}